* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    overflow-x: hidden;
}

.header {
    height: 75px;
    display: flex;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.457);
    justify-content: space-between;
    align-content: center;
    position: fixed;
    z-index: 1111
    
}
.headerLogo{
    margin-left: 10px;
}
.headerNavbarList {
    height: 75px;
    list-style-type: none;
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
}

.headerNavbarLink {
    text-decoration: none;
    color: antiquewhite;
}

.headerNavbarLink:hover {
    color: antiquewhite;
    text-decoration: none;
}

.headerApi {
    height: 75px;
    text-align: center;
}