* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    overflow-x: hidden;
}

.header {
    /* height: 75px; */
    display: flex;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.603);
    justify-content: space-between;
    align-content: center;
    position: fixed;
    z-index: 1111;
    
}
.headerNavbarList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.burgerIndex{
position: fixed;
top: 15px;
right: 10px;
}
.headerLogo{
    margin-left: 10px;
}
.headerNavbarLink {
    text-decoration: none;
    color: antiquewhite;
}

.headerNavbarLink:hover {
    color: antiquewhite;
    text-decoration: none;
}
.headerApi{
    display: none;
}
.navLink{
    font-size: 17px;
}
nav ul{
	display: table;
	list-style-type: none;
	width:100%;
}

nav li{
	display: table-cell;
	text-align: center
}

nav li a{
  background-color:rgba(50,50,50,.2);
	border:2px solid #fff;
	font-family: helvetica;
	font-size: 2rem;
	padding: 10px;
	text-decoration: none
}
@media screen and (min-width: 992px) {
   .headerNavbarList {
    /* height: 75px; */
    list-style-type: none;
    display: flex;
    /* width: 700px; */
    justify-content: space-around;
    align-items: center;   
    }  
 .headerApi {
    display: block;
    height: 75px;
    text-align: center;
    color: white;
}
.navLink{
    font-size: 40px;
}
}

